.content-area {
	float: left;
	margin: 0 0 0 (-$size__site-sidebar);
	width: $size__site-main;
}

.site-main {
	margin: 0 0 0 $size__site-sidebar;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
	background-color: $color__dark-gray;
	padding: 35px 0;
}

.sidebar-content {
    margin: 1.5em auto;
    border-left: #8ec11a dotted 2px;
    padding: 0 10px;
}

aside#secondary {
	padding-left: 30px;
}

section#categories-2{
    border-radius: 2px;
    padding: 21px;
    text-align: center;
}

section#recent-posts-2{
    border-radius: 2px;
    padding: 21px;
    text-align: center;
}


section#text-3{
    border-radius: 2px;
    padding: 21px;
    text-align: center;
}
