p {
	margin-bottom: .5em;

}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

p.home-serv{
	margin-top: 0px;
	text-align: center;
	line-height: 2;
	padding: 15px;
	

}


p.blog-preview{
	color:white;
	text-align: center;  
	min-height:250px; 
	max-height:100px; 
	padding-top: 20%;
	float:right;
}


p.service-how{
	font-size: 19px;
	padding: 20px 40px 40px 40px;
	text-align: center;
	float:left;


}


