a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		text-shadow: 1px 1px rgba(0,0,0,.35);
	}
	
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	svg {
		color: #ffd700;
	}

	svg:hover{
		color: #c7a800;
	}
}

ul#menu-test-menu.menu li a{
	color: $color__green;
}

ul#menu-test-menu.menu li a:hover{
	color: $color__yellow;
}

.business{
	height: 100px;
	width: 100px;
	background-color: $color__green;
	border-radius: 100%;
	margin: 0 auto;
}

.youth{
	height: 100px;
	width: 100px;
	background-color: $color__yellow;
	border-radius: 100%;
	margin: 0 auto;
}

.youth svg, i, a{
	color: $color__green;
}

