.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: inline-block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.menu-home{
	
	height:70px;
	background: rgb(255,215,0);
	background: linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(142,193,26,1) 66%);
	margin-top: -35px;


	ul {

		float: right;

		float:right;

		margin-top: -15px;
		
	}

		li {
			float:left;
			padding-right:25px;
			margin-right:15px;
			margin-top:20px;
		}

		li a {
			
			color:white;
		}
}
.navbar {
	background: #404040;
	padding: 0;
	max-height: 55px;
}

ul#menu-primary-menu{
	margin-bottom: 0;
}

.menu-main ul{
	float: right;
}

.menu-main li {
	float: left;
	padding: 0 10px;
}

li a{
	font-weight: 400;
}
