/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

header {
	background: rgb(255,215,0);
	background: linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(142,193,26,1) 66%);
	height: 85px;
}

img.header-logo {
	float:left; 
	margin: 0;
}

.header-title{
	color: white;
	padding: 9px 0;
}
